name: iOS CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  swiftlint:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install SwiftLint
        run: brew install swiftlint

      - name: Run SwiftLint
        run: swiftlint --strict

  swift-format:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install SwiftFormat
        run: brew install swift-format

      - name: Lint Swift Code
        run: swift-format lint . --recursive --strict

  build-and-test:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.2'

      - name: Show Xcode version
        run: xcodebuild -version

      - name: Build and test
        run: |
          xcodebuild \
            -project WeddingManager/WeddingManager.xcodeproj \
            -scheme WeddingManager \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 16,OS=26.2' \
            clean test